@media only screen and (max-width: 600px){
header{
    width: auto;
    border: solid black;
    border-width: 5px;
    background-color:rgb(106, 106, 199);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 30px;
}
main{
    width: auto;
    background-color: rgb(71, 71, 255);
    border: solid black;
    border-width: 5px;
    font-size: 20px;
}
main h4{
    text-align: center;
    font-family: fantasy;
    font-weight: 100;
    font-size: 30px;
}
button{
    font-size: 30px;
    border: solid black;
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid black;
    border-width: 5px;
    background-color: blue;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
    height: 50px;
}
.price{
    list-style: none;
    font-size: 20px;
}
.price img{
    align-content: center;
    width: 200px;
}
}
@media only screen and (min-width: 600px){
header{
    width: auto;
    border: solid black;
    border-width: 5px;
    background-color:rgb(255, 0, 0);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    font-size: 30px;
}
main{
    width: auto;
    background-color: #c20000;
    border: solid black;
    border-width: 5px;
    font-size: 20px;
}
main h4{
    text-align: center;
    font-family: fantasy;
    font-weight: 100;
    font-size: 30px;
}
button{
    font-size: 30px;
    border: solid black;
}
footer{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    border: solid black;
    border-width: 5px;
    background-color: blue;
    font-size: 18px;
    height: 150px;
    text-align: center;
}
.price{
    list-style: none;
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
}
.price img{
    align-content: center;
    width: 400px;
}
}
